<div class="background">
<div class="gMap">
<google-map
  #googleMap
  [options]="options"
  [zoom]="zoom"
  [center]="center">

</google-map>
</div>

<div *ngIf="placeDetails; else loading">

  <mat-card>
    <mat-card-header>
      <mat-card-title> Place Details</mat-card-title>
      <mat-card-subtitle> {{placeDetails.name}}</mat-card-subtitle>
    </mat-card-header>
  <div *ngIf="placeDetails.photoURL">
    <img [src]="placeDetails.photoURL">
  </div>
  <mat-card-content>
<h3> Address : {{placeDetails.address}} </h3>
<h3> Type of Establishment: <img [src]="placeDetails.icon"> </h3>
</mat-card-content>
  </mat-card>
</div>


<div class="centerButton">
<button (click)="goHome()">Back home </button>
</div>
</div>

<ng-template #loading>

  Loading location details....
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>


</ng-template>
