img {
 max-width: 400px;
 max-height: 400px;
}

button {
  width:  100 px;
  height: 50px;
  display: flex;
  align-items: center;
  text-align: center;

}

.centerButton {
  display: flex;
  align-items: center;
  justify-content: center;
}

.background {
  background-image: url(/assets/fantastic-blue-sky_1203-1929.avif);
  width: 100vw;
  height: 100vh;
  background-size: cover;
}
