
h2 {
  text-align: center;
}

.form-fieldset {
  width: 400px;
  margin: 0 auto;
  height: 100%;
 }

 mat-radio-group {
  max-width: 300px;
 }

 googleMap {
  text-align: center;
 }

.background {
  background-image: url(/assets/simon-english-48nerZQCHgo-unsplash.jpg);
  width: 100vw;
  height: 100vh;
  background-size: cover;
}
