
h2 {
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.form-fieldset {
  width: 400px;
  margin: 0 auto;
  height: 100%;
  text-align: center;
 }

 mat-radio-group {
  max-width: 300px;
 }

 googleMap {
  text-align: center;
 }

.background {
  background-image: url(/assets/fantastic-blue-sky_1203-1929.avif);

  background-size: cover;
}

mat-form-field {
  text-align: center;
}

matInput {
  text-align: center;
}
