.background {
  background-image: url(/assets/simon-english-48nerZQCHgo-unsplash.jpg);
  width: 100vw;
  height: 100vh;
  background-size: cover;
}

h1 {
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

h2 {
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h3 {
  text-align: center;
}

p {
  text-align: center;
}

mat-card {
  font-size: xx-large;
  text-align: center;
  padding-bottom: 10px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-emphasis: 50;
}

