<div class="background">
<mat-card class="title">Added Event!</mat-card>
<h3 *ngIf="sendEmail"> An email will be sent to you shortly</h3>

<mat-divider> </mat-divider>

<h2> Event Details</h2>

<p>
  Your event at {{newEvent.location}} will be held from {{newEvent.startDate| date: 'medium'}}
  to {{newEvent.endDate | date: 'medium'}}. You are advised to depart at {{newEvent.departureTime | date: 'mediumTime'}}, at the latest.
</p>

<h2>Event Description</h2>
<p *ngIf="newEvent.comments">
    {{newEvent.comments}}
</p>


<app-event-details [event]="newEvent"></app-event-details>
</div>
